<div class="max-w-4xl mx-auto p-6">
  <h1 class="text-3xl font-bold text-gray-900 mb-8"><%= @user.email %>'s Profile</h1>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Created Events</h2>
    <div class="space-y-6">
      <% @user.created_events.each do |event| %>
        <div class="bg-white p-4 rounded-lg shadow">
          <h3 class="text-xl font-medium mb-2">
            <%= link_to event.title, event_path(event), class: "text-blue-600 hover:text-blue-800 hover:underline" %>
          </h3>
          <p class="text-gray-600">Date: <%= event.date.strftime("%B %d, %Y") %></p>
        </div>
      <% end %>
    </div>
  </section>
  
  <section class="mb-12">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Upcoming Events I'm Attending</h2>
    <div class="space-y-6">
      <% @user.attended_events.where("date >= ?", Date.today).each do |event| %>
        <div class="bg-white p-4 rounded-lg shadow">
          <h3 class="text-xl font-medium mb-2">
            <%= link_to event.title, event_path(event), class: "text-blue-600 hover:text-blue-800 hover:underline" %>
          </h3>
          <p class="text-gray-600">Date: <%= event.date.strftime("%B %d, %Y") %></p>
          <p>Created by: <%= link_to event.creator.email, user_path(event.creator) %></p>
        </div>
      <% end %>
    </div>
  </section>
  <% if @user.attended_events.where("date < ?", Date.today).any? %>
    <section class="mb-12">
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Past Events I Attended</h2>
      <div class="space-y-6">
        <% @user.attended_events.where("date < ?", Date.today).each do |event| %>
          <div class="bg-white p-4 rounded-lg shadow">
            <h3 class="text-xl font-medium mb-2">
              <%= link_to event.title, event_path(event), class: "text-blue-600 hover:text-blue-800 hover:underline" %>
            </h3>
            <p class="text-gray-600 mb-1">Date: <%= event.date.strftime("%B %d, %Y") %></p>
            <p class="text-gray-600">
              Created by: 
              <%= link_to event.creator.email, user_path(event.creator), 
                  class: "text-blue-600 hover:text-blue-800 hover:underline" %>
            </p>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</div>