<h1>Events#new</h1>
# app/views/events/new.html.erb
<h1>Create New Event</h1>

<%= form_with(model: @event) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <%= form.submit %>
<% end %>
